.map-tree {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.map-tree-uni-row {
	display: flex;
	flex-direction: row;
}

.map-tree-uni {
	display: flex;
	flex-direction: column;
}

.map-tree-uni-interior {
	display: flex;
	flex-direction: column;
    width: 100%;
    height: 100%;
}

.map-tree-margin-row {
	flex-basis: 37.5px;
	flex-grow: 1;
	flex-shrink: 1;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.map-tree-row {
	display: flex;
	flex-direction: row;
	flex-basis: 75px;
	flex-grow: 2;
	width: 100%;
}

.margin-node-holder {
	flex-basis: 37.5px;
	flex-grow: 0;
	flex-shrink: 100;
	height: 100%;
	align-content: center;
}
.margin-node-spacer {
	flex-basis: 0px;
	flex-grow: 1;
	flex-shrink: 100;
	align-content: center;
}
.tree-node-holder {
	flex-grow: 0;
	flex-basis: 85px;
	height: 100%;
	align-content: center;
}


.bridgeNode {
	display: inline-block !important;
	height: 75px;
	width: 75px;
	border: var(--hqProperty1);
	font-family: "Roboto Mono", monospace;
	text-shadow: var(--hqProperty3);
	padding: 0;
}

.topBridgeNode {
	border-radius: 0 0 75px 75px !important;
	border-top: none !important;
	height: 37.5px !important;
}
.leftBridgeNode {
	border-radius: 0 75px 75px 0 !important;
	border-left: none !important;
	width: 37.5px !important;
}
.rightBridgeNode {
	border-radius: 75px 0 0 75px !important;
	border-right: none !important;
	width: 37.5px !important;
}
.bottomBridgeNode {
	border-radius: 75px 75px 0 0 !important;
	border-bottom: none !important;
	height: 37.5px !important;
}

.pylonNode {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 5px solid black;
}




@media (max-width: 1250px) {
    .map-tree {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    .map-tree-uni-row {
        display: flex;
        flex-direction: column;
    }

    .map-tree-uni {
        display: flex;
        flex-direction: row;
    }

    .map-tree-uni-interior {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }

    .map-tree-margin-row {
        flex-basis: 37.5px;
        flex-grow: 1;
        flex-shrink: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .map-tree-row {
        display: flex;
        flex-direction: column;
        flex-basis: 75px;
        flex-grow: 2;
        height: 100%;
    }

    .margin-node-holder {
        flex-basis: 37.5px;
        flex-grow: 0;
        flex-shrink: 100;
        width: 100%;
        align-content: center;
    }
    .margin-node-spacer {
        flex-basis: 0px;
        flex-grow: 1;
        flex-shrink: 100;
        align-content: center;
    }
    .tree-node-holder {
        flex-grow: 0;
        flex-basis: 85px;
        width: 100%;
        align-content: center;
    }


    .bridgeNode {
        display: inline-block !important;
        height: 75px;
        width: 75px;
        border: var(--hqProperty1);
        font-family: "Roboto Mono", monospace;
        text-shadow: var(--hqProperty3);
        padding: 0;
    }

    .topBridgeNode {
        border-radius: 0 0 75px 75px !important;
        border-top: none !important;
        height: 37.5px !important;
    }
    .leftBridgeNode {
        border-radius: 0 75px 75px 0 !important;
        border-left: none !important;
        width: 37.5px !important;
    }
    .rightBridgeNode {
        border-radius: 75px 0 0 75px !important;
        border-right: none !important;
        width: 37.5px !important;
    }
    .bottomBridgeNode {
        border-radius: 75px 75px 0 0 !important;
        border-bottom: none !important;
        height: 37.5px !important;
    }

    .pylonNode {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    
    border-bottom: 5px solid black;
    }
}